@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-background: #f3f3f3;
    --color-menu-primary: #f8f8f8;
    --color-text: #3b3939;
    --text-color-primary: rgb(224, 218, 218);
}

html{
    font-size: 65%;
    background-image: url(../images/img_background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;/* parallax background */
    background-repeat: no-repeat;
}

@media screen and (max-width: 1100px){
    html{
        font-size: 60%;
    }
}

@media screen and (max-width: 720px){
    html{
        font-size: 50%;
    }
}

body{
    text-align: center;
    color: var(--color-menu-primary);
}


body, textarea, input, button{    
    font: 400 2rem 'Nunito';
    color: var(--color-text);
}

.container{
    width: 95%;
    margin: 0 auto;
}

.btn{
    border: 1px solid rgb(85, 81, 81);
    padding: 1rem 2.5rem;
    border-radius: 4rem;

    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-text);
    font-weight: 700;

    transition: .3s;
}

.btn:hover{
    background-color: rgba(163, 159, 159, 0.171);
}

.border{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 15%;
    border-bottom: .2rem solid var(--color-text);
}

nav{
    position: fixed;
    top: 2rem;
    right: 4rem;
    z-index: 9;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(59, 57, 55, 0.815);
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    padding: 0 1rem;
    transition: .3s;

    cursor: pointer;
    color: var(--color-menu-primary);
}

nav:hover{
    width: 15rem;
    height: 8rem;
    border-radius: 4rem;
}

nav > h1,
nav > i {
    display: none;
    font-size: 2.5rem;
    padding: 0 1rem;
    transition: .3s;
    transition-delay: .1s;
    margin-top: 0;
}

nav:hover > h1,
nav:hover > i {
    color: rgba(255, 255, 255, 0.692);
    display: block;
    font-size: 2rem;
}

nav .menu {
    display: none;
}

footer{
    background-color: var(--color-background);
    padding: 2rem 0;
}

footer p{
    margin: 0 auto;
}